#main
	padding 0 0 60px
	background-color: #141310
	background-image url(../img/backs/main-bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	text-align: center
.pre-recs
	color #fff
	font-size: 16px
	margin-bottom: 25px
.pre
	font-size: 20px
	font-family: GBd
	color #fff
	margin-bottom: 20px
.main-title
	display: inline-block
	font-size: 54px
	font-family: GBk
	color #fff
	text-transform: uppercase
	line-height: .8
	position relative
	padding 15px
	background-color: #004DA6
	margin-bottom: 40px
.main-info
	font-size: 22px
	color #fff
	span
		text-transform: uppercase
		display: inline-block
		font-size: 24px
		font-family: GBd
	&:last-of-type
		margin: 15px 0 60px
.button-main
	&:before
		z-index 0