#prices
	padding 50px 0
	text-align: center
	background-color: #0C0909
	background-image url(../img/backs/about-line.jpg)
	background-repeat no-repeat
	background-position: top center
	background-size: cover
	color #fff
	text-transform: uppercase
	margin-bottom: 25px
.prices-title
	font-size: 30px
	font-family: GBd
	line-height: 40px
	margin-bottom: 40px
	text-transform: lowercase
	span
		font-family: GBk
		display: inline-block
		padding 15px 25px
		font-size: 65px
		background-color: #004DA6
		margin-top: 15px
		text-transform: uppercase
.prepayment-title
	font-size: 36px
	font-family: GBk
	color red
	margin 40px 0 25px
.prepayment-text
	font-family: GBd
	font-size: 20px
	margin-bottom: 25px