G = 'GothamPro', sans-serif
GBk = 'GothamProBlack', sans-serif
GBd = 'GothamProBold', sans-serif
GI = 'GothamProItalic', sans-serif

@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro.eot');
	src: url('../fonts/GothamPro.eot') format('embedded-opentype'),
		 url('../fonts/GothamPro.woff2') format('woff2'),
		 url('../fonts/GothamPro.woff') format('woff'),
		 url('../fonts/GothamPro.ttf') format('truetype'),
		 url('../fonts/GothamPro.svg#GothamPro') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamProBlack';
	src: url('../fonts/GothamProBlack.eot');
	src: url('../fonts/GothamProBlack.eot') format('embedded-opentype'),
		 url('../fonts/GothamProBlack.woff2') format('woff2'),
		 url('../fonts/GothamProBlack.woff') format('woff'),
		 url('../fonts/GothamProBlack.ttf') format('truetype'),
		 url('../fonts/GothamProBlack.svg#GothamProBlack') format('svg');
	font-display: fallback;
	font-weight: 900
	font-style: normal;
}
@font-face {
	font-family: 'GothamProBold';
	src: url('../fonts/GothamProBold.eot');
	src: url('../fonts/GothamProBold.eot') format('embedded-opentype'),
		 url('../fonts/GothamProBold.woff2') format('woff2'),
		 url('../fonts/GothamProBold.woff') format('woff'),
		 url('../fonts/GothamProBold.ttf') format('truetype'),
		 url('../fonts/GothamProBold.svg#GothamProBold') format('svg');
	font-display: fallback;
	font-weight: bold
	font-style: normal;
}
@font-face {
	font-family: 'GothamProItalic';
	src: url('../fonts/GothamProItalic.eot');
	src: url('../fonts/GothamProItalic.eot') format('embedded-opentype'),
		 url('../fonts/GothamProItalic.woff2') format('woff2'),
		 url('../fonts/GothamProItalic.woff') format('woff'),
		 url('../fonts/GothamProItalic.ttf') format('truetype'),
		 url('../fonts/GothamProItalic.svg#GothamProItalic') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: italic
}
