.button
.general-title
.main-title
.day-title
.results-item-list li
.prices-title span
.prepayment-title
.author-info-title
.carousel-control.left
.carousel-control.right
	font-weight: 900
.button-2
.pre
.main-info span
.adv-item-text
.day-sublist li:before
.program-table-head
.table-title span
.prices-title
.prepayment-text
footer h5
	font-weight: bold
.results-item-list li span
	font-weight: normal
.table-text-duration
	font-style: italic
.main-title
	font-size: 50px
.author-container
	padding-bottom: 120px
#text-revs img.text-rev-img
	height auto