@import '0.fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/jquery.fancybox.min.css'

@import '0.base'

@import '0.header'
@import 'course/1.main'
@import 'course/2.advs'
@import 'course/3.for'
@import 'course/4.plan'
@import 'main/7.programm'
@import 'course/5.results'
@import 'course/6.prices'
@import 'main/8.author'
@import 'main/9.revs'
@import 'bonus/2.footer'
@import 'course/10.medias'