.general-title
.button
.main-title
.mail-section-title
.about-item-title
.about-info-title
.about-line-title
.day-title
.author-info-title
.carousel-control.left
.carousel-control.right
.modal-title
	font-weight: 900
.button-2
.main-subtitle
.alert-message
.about-info-title-list li
.day-bonus span
.get-item-text
.table-main-title
	font-weight: bold
.get-item-text span
.politics-modal-content .modal-title small
	font-weight: normal
.table-text-duration
	font-style: italic
#text-revs
	img.text-rev-img
		height auto
.main-title:before
	right: -15px