-var head_url = 'https://abramova.mastervision.su/new-system-psychology';
-var head_title = '«Новая системная психология»';
-var head_description = 'Комплексная программа профессиональной переподготовки начинающих и практикующих психологов';
-var head_img = 'img/banner.jpg';
-var styles = 'css/styles.min.css';
-var fav_ico = 'favicon.ico';
-var fav_png = 'favicon.png';

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/scripts
		include pug/scripts/chat
		include pug/scripts/body_bottom_scripts