-var head_title = 'Вы зарегистрированы на мастер-класс «Новая системная психология»';
-var styles = '../css/promo.min.css';
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'

	
<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		section#main
			.container
				include pug/0.header.pug
				h1.main-title Вы зарегистрированы на мастер-класс 
					span «Новая системная психология»
				a.button.button-thanks(href='https://drive.google.com/drive/folders/1hHrgB1lG6R9wmzF4wtAIizXvkPqI6ewW?usp=sharing' target="_blank") Забрать доп.материалы
				h2.main-subtitle Регистрируйтесь в удобный для вас мессенджер, чтобы оставаться на связи и не пропустить мастер-класс
					span +
					span Бонус: «Пособие по корректировке личности»
				include pug/bots/bots.pug
		include pug/bonus/3.footer.pug
		script(src="../js/thanks.min.js")
		include pug/scripts/body_bottom_scripts