section#main.bonus-main
	.container
		include ../0.header.pug
		h1.main-title=head_title
		h2.main-subtitle=head_description
		.button-wrapper
			a.button.button-main(href="https://drive.google.com/drive/folders/1klbYIxk__EdpbYw9CKv9XHQxtJDaNOhj?usp=sharing" target="_blank") Скачать
		//- .video-wrapper.video-wrapper-main
		//- 	iframe(src="https://www.youtube.com/embed/"+video+"?rel=0&autoplay=1&mute=1" allowfullscreen)
		//- p.main-info Старт онлайн-мастер-класса: 
		//- 	span с 5 февраля, в 19:00 (МСК)
		.description
			p.description-text Пособие, рассчитано на 30 дней. Состоит из 4 частей и 28 заданий на каждый день. 2 дня отводится на повторение какого-либо понравившегося задания

			p.description-text В течении 30 дней, ежедневно, необходимо выполнять задания, которые тщательно и доступно расписаны на слайдах пособия. Пособие эффективно не только как самостоятельная методика, но и как дополнительная методология к какому-либо курсу в качестве проработки своей идентичности. Также данное пособие можно использовать в качестве коучинговой проработки либо себя, либо своих клиентов

			p.description-text Пособие является авторской разработкой Жанны Абрамовой, с помощью которой, уже через 30 дней, совершенно по новому можно было взглянуть на собственную личность и получить колоссальные результаты относительно своих целей и желаний