section#about
	.container
		.about-item
			h4.about-item-title В данном пособии вы:
			ul.about-item-list
				li
					span Увидите и поймёте свой личный способ саботажа в получении желаемого
				li
					span Научитесь справляться с любым видом саботажа
				li
					span Узнаёте, что мешает рождению вашего сверхэффективного нового «Я»
				li
					span Научитесь удерживать фокус внимания на своих целях, а не на страхах и ограничениях
				li
					span Научитесь работать с ограничивающими шаблонами
				li
					span Научитесь подключаться к ресурсному полю
				li
					span Сдвинете своё «Я» в сторону здоровья, изобилия, продвижения и улучшения качества жизни
				li
					span Научитесь управлять временем
				li
					span Научитесь говорить «нет» с пользой для себя
				li
					span ПерепИшите устаревшую часть своей истории на новую ресурсную
				li
					span Узнаете, что за жизненный сценарий «Мать-ведьма/Отец-людоед» не даёт достигать поставленных целей
				li
					span Узнаете, какими неосознанными способами вы себя разрушаете и зачем
				li
					span Поработаете с родовой системой на предмет устранения шаблона саморазрушения
				li
					span Поработаете с деструктивной ментальностью
				li
					span Научитесь купировать мысли-убийцы
				li
					span Научитесь эффективно и достойно проживать каждый день своей жизни
		.button-wrapper
			a.button.button-about(href="https://drive.google.com/drive/folders/1klbYIxk__EdpbYw9CKv9XHQxtJDaNOhj?usp=sharing" target="_blank") Скачать