#about-line
	padding 35px 0
	background-color: #0C0909
	background-image url(../img/backs/about-line.jpg)
	background-repeat no-repeat
	background-position: top center
	background-size: cover
	text-align: center
	text-transform: uppercase
	color #fff
.about-line-title
	font-size: 30px
	font-family: GBk
	background-color: #004DA6
	display: inline
	line-height: 40px
.about-line-text
	margin-top: 40px
	font-size: 20px