#get
	padding 25px 0
.get-item
	display: table
	width 100%
	max-width 370px
	margin 0 auto 25px
	padding-top: 200px
	background-repeat no-repeat
	background-position: top center
	background-size: auto 200px
	box-shadow: 0px 4px 26.68px 2.32px rgba(#191815, 0.51);
	&-1
		background-image url(../img/images/get-img-1.jpg)
	&-2
		background-image url(../img/images/get-img-2.jpg)
	&-3
		background-image url(../img/images/get-img-3.jpg)
	&-4
		background-image url(../img/images/get-img-4.jpg)
	&-5
		background-image url(../img/images/get-img-5.jpg)
	&-6
		background-image url(../img/images/get-img-6.jpg)
	&-text
		text-align: center
		text-transform: uppercase
		display: table-cell
		vertical-align: middle
		font-family: GBd
		padding 10px
		height 132px
		span
			display block
			font-family: G
			font-size: 16px
	&-course
		width 100%
		max-width 271px
		margin 0 auto 25px
		// display: table
		&-img
			width 100%
			height 154px
			// display: table-cell
			background-repeat no-repeat
			background-position: center
			box-shadow: 0px 4px 26.68px 2.32px rgba(#191815, 0.51);
			&-1
				background-image url(../img/images/technics-img-1.jpg)
			&-2
				background-image url(../img/images/technics-img-2.jpg)
			&-3
				background-image url(../img/images/technics-img-3.jpg)
			&-4
				background-image url(../img/images/technics-img-4.jpg)
			&-5
				background-image url(../img/images/technics-img-5.jpg)
			&-6
				background-image url(../img/images/technics-img-6.jpg)
.general-title-get
	margin-top: 30px
	span
		background-color: #004DA6
		display: inline
		color #fff
		padding 5px