#revs
	padding 25px 0 50px
.carousel-inner
	box-shadow: 0px 4px 16.68px 2.32px rgba(9, 78, 162, 0.29);
#text-revs
	img.text-rev-img
		height 312px
		background-color #fff
		object-fit: contain
		background-position: center
		display block
		margin 0 auto
.carousel-control
	height 35px
	line-height: 35px
	width 40px
	top auto
	bottom 2px
	opacity 1
	background-color: transparent
	&.left
	&.right
		font-size: 56px
		text-shadow: none
		color #004DA6
		font-family: GBk
		text-transform: uppercase
		background-image: none
	// &.right
	// 	transform: rotate(180deg)
	&:hover
		opacity .8
.carousel-indicators
	position static
	margin 12px auto 0
	li
		border-color: #ccccff
		transition: all .2s ease
		width 15px
		height 15px
		border-color: #004DA6
		margin 0 1px
		transition: all .5s ease
	.active
		width 15px
		height 15px
		background-color: #004DA6