.bots
	a.bots-link.bots-link-vk(href="", target="_blank") Вконтакте
	a.bots-link.bots-link-tg(href="", target="_blank") Telegram
	a.bots-link.bots-link-wa.hide(href="", target="_blank") WhatsApp
	a.bots-link.bots-link-ok(href="", target="_blank") Одноклассники