mixin ai(cl,h41,h42,p)
	.col-md-4.col-md-4
		.about-item(class=cl)
			h4.about-item-title=h41
				br
				=h42
			p.about-item-text=p

section#about
	.container
		.row
			+ai('about-item-1','8 ','глобальных тем','от анализа личности до акмеологии и технологии исполнения желаний')
			+ai('about-item-2','30 ','недель обучения','от онлайн-уроков с теорией и различными рабочими техниками до заданий и самостоятельной работы')
			+ai('about-item-3','258 ','академических часов','длительность полного обучения с аттестацией и вручением диплома')
		+b('','Записаться на презентацию')
		.about
			.about-img
				//- img(src='img/images/about-img.jpg' alt="Новая системная психология – это:")
			.about-info
				h3.about-info-title Новая системная психология – это:
				ol.about-info-list
					li
						span Перспективное профессиональное направление, которое выводит специалистов по психологии на новый, более высокий, уровень;
					li
						span Высокий доход, обеспеченный востребованностью специалистов подобного плана, уровень которого не ограничивается определённой цифрой;
					li
						span Модель знаний, синтезирующая классическую психологическую школу и инновационные методы и позволяющая прорабатывать и решать проблемы личности человека и его подсознания на более глубоком уровне;
					li
						span Технология исцеления любой душевной травмы человека;
					li
						span Возможность найти выход из ситуации через поиск первопричины проблемы;
					li
						span Исцеление как на психоэмоциональном уровне, так и на всех слоях подсознания;
					li
						span Направление, основополагающими целями которого являются изменение идентичности личности, исцеление деструктивных врождённых сценариев и шаблонов;
					li
						span Уникальная возможность для личностного роста и развития
		+b('','участвовать бесплатно')