section#for
	.container
		+gt('','Данный курс необходим для тех, кто:')
		.for-item.for-item-1
			.for-item-img.for-item-img-1
			.for-item-info
				ul.for-item-list
					li Работает психологом классической школы или в области традиционной медицины;
					li Помогает людям решать те или иные проблемы и ощущает нехватку теоретических, практических знаний, а также структурированных знаний;
					li Хочет не только получить знания, но и освоить новую актуальную профессию для решения абсолютно любой проблематики человека на всех слоях подсознания; 
					li Собирается учиться на психолога или другого специалиста по работе с людьми; 
					li Уже прошёл психологическое обучение или стал другим специалистом по работе с людьми, но не добился результатов в этой области;
		.for-item.for-item-2
			.for-item-img.for-item-img-2
			.for-item-info
				ul.for-item-list
					li Интересуется не только душевной и ситуативной проблематикой, но и заболеваниями;
					li Является психологом классической школы и страдает от недостатка более глубоких познаний;
					li Мечтает освоить эффективные авторские методики для быстрого исцеления проблем и заболеваний;
					li Ищет оптимальный курс, объединяющий все современные методы диагностики, исцеления психоэмоциональных травм и решения проблем;
					li Хочет разобраться в особенностях установок, влияющих на жизненный сценарий и формирование судьбы клиентов;
					li Оказался в трудной жизненной ситуации, психологическом тупике или переживает кризис личности;
		.clearfix
		+b('button-for','Мне это необходимо')