section#about-line
	.container
		h3.about-line-title На презентации Жанна Абрамова наглядно продемонстрирует суть работы системного психолога
		p.about-line-text В «прямом эфире» она будет проводить сессии по запросам участников. 
			br
			| Бесплатная 3-дневная программа включает теорию и практику, а также технологии терапии по проблеме клиента от «А» до «Я»