section#plan
	.container
		+gt('','Программа презентации')
		.day.day-1
			h4.day-title 1 День
			ul.day-list
				li - Матрица судьбы от рождения до настоящего момента
				li - «Точка сборки» личности:  формирование идентичности, почему мы стали такими и кто на это повлиял
				li - Трансперсональный анализ составляющих личности: запретов, предписаний, приказаний, бессознательных решений, догм, культурных ценностей
				li - Анализ жизненного пути и выявление бессознательных шаблонов, препятствующих достижению желаемого
				li - Партнёры по судьбе и под задачу. Анализ жизненных задач, которые стали причиной появления тех или иных людей. Подведение итогов задачи
				li - Исследование причин поведения человека на более глубоких слоях подсознания
				li - Работа с подсознанием. Выявление и ликвидация причин возникновения негативных установок, деструктивных сценариев, запретов, страхов, травм, боли, повторяющихся форс-мажорных ситуаций болезней, аварий, переломов, денежных потерь, конфликтов, депрессий, одиночества)
			p.day-bonus
				span Бонусная техника «Отправная точка судьбы»
				| направлена на поиск ключевых событий, сформировавших личность и судьбу человека. Позволяет найти травмирующую первопричину, которая легла в основу бессознательного деструктивного мышления, поведения и проблем. Используется в гештальт-терапии для исцеления глубоких травм и дальнейшего исправления судьбы
		.day.day-2
			h4.day-title 2 День
			ul.day-list
				li - Родовая система как отправная точка ресурсов и проблем. Роль человека в его роде. Системная эмпатия (допроживание судьбы кого-то из семьи) и травма рода как причина проблем в судьбе
				li - Смертельная игра: как исключение и недопроживание травм предками  влияет на потомков
				li - 5 законов родовых систем: чем грозит их неисполнение. «Воронки» судьбы: форс-мажоры, кризисы, потери, расставания, болезни, банкротства, неудачи. Техника по «закрытию воронок» и возвращению удачи через исцеление «поля» человека
				li - Техника «Манифестация изобилия», которая позволит почувствовать свои родовые ресурсы, разблокировать то, что долгое время находилось «под замком», и интегрировать изобилие в сознание
			p.day-bonus
				span Бонусная техника «родовое наследие»
				| направлена на выявление родовых шаблонов, влияющих на судьбу. Исцеление родовых установок позволит получить «благословение судьбы»
		.day.day-3
			h4.day-title 3 День
			ul.day-list
				li - Новая системная психология – метод исцеления психологических травм, заболеваний и гена нищеты. Видимые и бессознательные причины болезней, неудач, безденежья, бездетности и всего того, что портит наше существование
				li - Техника «Сопротивление ума» покажет, как люди сами блокируют своё благополучие. Вы поймёте всё, что с Вами происходит и что заложено в родовых программах
			p.day-bonus
				span Бонусная уникальная техника «Исцеление воспоминанием»
				| направлена на достоверное выявление психоэмоциональной причины любого физического заболевания. Исцеление психики = исцеление заболевания
		+b('','Записаться на презентацию')