section#get
	.container
		+gt('','на презентации курса вы:')
		.row
			.col-md-4.col-sm-4
				.get-item.get-item-1
					p.get-item-text Узнаете, как сформирован сценарий судьбы человека;
			.col-md-4.col-sm-4
				.get-item.get-item-2
					p.get-item-text Научитесь составлять матрицу судьбы
						span Поймёте, как в матрице судьбы выявлять блок, препятствующий получению желаемого;
			.col-md-4.col-sm-4
				.get-item.get-item-3
					p.get-item-text Получите алгоритм исцеления травмы и решения проблемы;
		.row
			.col-md-4.col-sm-4
				.get-item.get-item-4
					p.get-item-text Начнёте помогать другим людям решать проблемы в сфере денег, отношений, здоровья, предназначения;
			.col-md-4.col-sm-4
				.get-item.get-item-5
					p.get-item-text Узнаете, что Вам необходимо поменять в своих жизненных шаблонах;
			.col-md-4.col-sm-4
				.get-item.get-item-6
					p.get-item-text Осознаете, что такое счастье и что значит быть счастливым человеком;
		h3.general-title.general-title-get
			span На курсе Вы освоите 
			| &nbsp;авторские техники по проработке отношений, здоровья, темы финансов:
		.row
			.col-lg-3.col-md-6.col-sm-6
				.get-item-course
					.get-item-course-img.get-item-course-img-1
					p.get-item-text Техника МАК
						span метафорических ассоциативных карт
			.col-lg-3.col-md-6.col-sm-6
				.get-item-course
					.get-item-course-img.get-item-course-img-2
					p.get-item-text Метод системной полевой терапии
						span (работа с полевыми процессами человека)
			.col-lg-3.col-md-6.col-sm-6
				.get-item-course
					.get-item-course-img.get-item-course-img-3
					p.get-item-text Техника первичной отправной точки проблематики
						span (поиск первопричины проблемы)
			.col-lg-3.col-md-6.col-sm-6
				.get-item-course
					.get-item-course-img.get-item-course-img-4
					p.get-item-text Техника квантового исцеления поля
		.row
			.col-lg-3.col-md-6.col-sm-6.col-lg-offset-3.col-md-offset-0.col-sm-offset-0
				.get-item-course
					.get-item-course-img.get-item-course-img-5
					p.get-item-text Техника сценарного перепрограммирования подсознания
			.col-lg-3.col-md-6.col-sm-6
				.get-item-course
					.get-item-course-img.get-item-course-img-6
					p.get-item-text Техника НЛП
						span нейро-лингвистического программирования
		+b('','Получить знания')