section#program
	.container
		+gt('','Программа обучающего курса')
		.program-container
			.program-table
				.program-table-row
					.program-table-cell.program-table-cell-head
						h4.table-main-title Наименование тем
					.program-table-cell.program-table-cell-head
						h4.table-main-title график
				.program-table-row
					.program-table-cell
						h5.table-title
							span Тема 1: 
							| Анализ структуры личности:
						ul.table-list
							li формирование жизненных сценариев и стратегий,
							li сформировавших судьбу человека
					.program-table-cell
						p.table-text.table-text-duration 2 недели
				.program-table-row
					.program-table-cell
						h5.table-title
							span Тема 2: 
							| МАК (метафорические ассоциативные карты)
					.program-table-cell
						p.table-text.table-text-duration 4 недели
				.program-table-row
					.program-table-cell
						h5.table-title
							span Тема 3: 
							| Психовампиризм
					.program-table-cell
						p.table-text.table-text-duration 2 недели
				.program-table-row
					.program-table-cell
						h5.table-title
							span Тема 4: 
							| Психохирургия
					.program-table-cell
						p.table-text.table-text-duration 4 недели
				.program-table-row
					.program-table-cell
						h5.table-title
							span Тема 5: 
							| Гештальт терапия
					.program-table-cell
						p.table-text.table-text-duration 4 недели
				.program-table-row
					.program-table-cell
						h5.table-title
							span Тема 6: 
							| Системно-полевая терапия
					.program-table-cell
						p.table-text.table-text-duration 5 недель
				.program-table-row
					.program-table-cell
						h5.table-title
							span Тема 7: 
							| НЛП – нейролингвистическое программирование
						ul.table-list
							li Регрессионный Гипноз. ДСТ
					.program-table-cell
						p.table-text.table-text-duration 5 недель
				.program-table-row
					.program-table-cell
						h5.table-title
							span Тема 8: 
							| Технология достижения целей.
						ul.table-list
							li Акмеология
					.program-table-cell
						p.table-text.table-text-duration 4 недели