section#author
	.container
		+gt('','о тренере')
		.author-container
			img(src="img/images/janna.jpg", alt="Жанна Абрамова").author-img
			.author-info
				h4.author-info-title жанна абрамова
				ul.author-info-list
					li Клинический психолог, Гештальт терапевт, Гипнотерапевт
					li Мастер практической психологии и технологий осознанности 
					li Коуч, тренер обучающих и трансформационных программ
					li Процессор техник РПТ, Тета-Хилинга, субклеточный психобиологии, терапевт метафизики и новой германской медицины
					li Мастер метафорических карт (МАК), системных расстановок, технологии Мгновенного исцеления (Метафизика), регрессивного гипноза
					li Автор курсов по МАК, Системной терапии, Метафизики, Коучинга, Технологии исполнения желаний, курсов по женской соматике и психологии
		+gt('','Сертификаты, дипломы и регалии тренера')
		.certs
			.row
				each n in [1,2]
					.col-md-6.col-sm-6.col-xs-6
						a.cert-link(href="img/certs/cert-"+n+".jpg" data-fancybox='certs')
							img.cert-img(src="img/certs/cert-"+n+"-min.jpg", alt="Сертификат " + n)