section#author
	.container
		+gt('','о тренере')
		.author-container
			img(src="img/images/janna.jpg", alt="Жанна Абрамова").author-img
			.author-info
				h4.author-info-title жанна абрамова
				ul.author-info-list
					li - Мастер практической психологии, факультет клинической психологии Академии при Президенте РФ (РАНХиГС)
					li - Специалист по метафорическим картам (МАК, Израиль)
					li - Системный расстановщик (Германия)
					li - Процессор Техники РПТ (Саймон Роуз), тетахилинга
					li - Гипнотерапевт (Московский институт гипноза)
					li - Коуч, женский тренер, автор трансформационных программ: МАК «Ключ к неизведанному», «Восстановление справедливости», «Отправная точка заболеваний», «За гранью разума», «Сам себе доктор», «Метафизика — «ключ» к исцелению души и тела», «Управление реальностью», «Мышление будущего», трансформационный женский тренинг «Анатомия отношений», «От перца – к сердцу», «Как получать подарки», «Замуж за 2 недели», «Деньги в голове», «Дуэль с ленью», «Возврат ваших вложений», «Третий лишний или как устранить соперницу»
		+gt('','Сертификаты, дипломы и регалии тренера')
		.certs
			.row
				each n in [1,2]
					.col-md-6.col-sm-6.col-xs-6
						a.cert-link(href="img/certs/cert-"+n+".jpg" data-fancybox='certs')
							img.cert-img(src="img/certs/cert-"+n+"-min.jpg", alt="Сертификат " + n)