mixin adv(cl,p)
	.adv-item(class=cl)
		p.adv-item-text=p

section#advantages
	.container
		+gt('','Преимущества курса')
		.row
			.col-md-4.col-sm-4
				+adv('','Это новое слово в психологии')
			.col-md-4.col-sm-4
				+adv('','Это инновационные знания, актуальные для решения жизненных проблем 21 века!')
			.col-md-4.col-sm-4
				+adv('','Тематика курса отвечает потребностям современного общества и рынка труда')
		.row
			.col-md-4.col-sm-4
				+adv('','Уникальный курс разработан профессионалом с большой буквы с 13-летним практическим опытом в системно-полевой терапии – Жанной Абрамовой')
			.col-md-4.col-sm-4
				+adv('','Вы освоите эксклюзивную специальность в области системной психологии')
			.col-md-4.col-sm-4
				+adv('','Курс полностью перевернёт Ваше представление о себе, близких, мире в целом')
		.row
			.col-md-4.col-sm-4
				+adv('','Вы освоите принципиально новый метод работы с клиентами, который позволяет быстро, эффективно, безопасно как для специалиста, так и для клиента работать абсолютно с любой проблематикой человека')
			.col-md-4.col-sm-4
				+adv('','Вы получите диплом гособразца, который позволит Вам занять свою нишу на рынке труда, стать востребованным специалистом и обеспечить себе стабильный, достойный уровень дохода')
			.col-md-4.col-sm-4
				+adv('','Потратив минимум времени на обучение – около года, Вы получите максимум знаний и практики')
		.row
			.col-md-4.col-sm-4.col-md-offset-4.col-sm-offset-4
				+adv('','После обучения Вы станете обладателем диплома государственного образца, подтверждающего Вашу компетентность')
		+b('','#prices','Записаться на курс')