section#for
	.container
		+gt('','Этот курс необходим для:')
		.for-item
			img(src="../img/images/about-img.jpg", alt="Этот курс необходим для:").for-item-img
			.for-item-info
				ul.for-item-info-list
					li людей, которые хотят с «нуля» освоить профессию будущего – специалист по системной психологии;
					li психологов, которые не понимают, с помощью каких механизмов (методик)  работать с клиентами и какие из них самые эффективные;
					li коучей, которым не хватает в своей деятельности более глубинных знаний;
					li специалистов, работающих с людьми по своим техникам и  методикам, которые мечтают расширить свой диапазон  знаний и освоить новые высокоэффективные практики;
					li всех, кто хочет получить глобально структурированные знания в сфере психологии, а не собирать их по крупицах и обрывками на различных курсах;
					li людей, которые планируют получить не только диплом психолога, но и знания, которые можно монетизировать уже во время курса;
					li профессионалов любой специальности, которые ищут эффективную методологию по исцелению проблем человека и собираются использовать данную систему в помощь себе, близким, в процессе своей деятельности
		+b('','#prices','МНЕ ЭТО НЕОБХОДИМО')