mixin day(cl,h4,...items)
	.day(class=cl)
		h4.day-title=h4
		ul.day-list
			each item in items
				li=item

section#plan
	.container
		+gt('','План курса')
		+day('day-1','Тема 1: Анализ структуры личности: формирование жизненных сценариев и стратегий, сформировавших судьбу человека','Транзактный анализ','Трансперсональная аналитика','Психовампиризм. Манипуляции. Газлайтинг. Абьюзинг','Психологические игры','Аксиологическая модель психотерапии','Типирование психотипа личности','Основы физиогномики')
		.day.day-2
			h4.day-title Тема 2: МАК (метафорические ассоциативные карты)
			ul.day-list
				li Принципы работы МАК
				li Техники МАК по темам:
				ul.day-sublist
					li Детско-родительские отношения
					li Симбиотические отношения
					li Созависимые отношения
					li Любовный треугольник
					li Денежный потолок. Работа с деньгами
					li Страхи. Фобии
					li Психологические травмы
					li Субличности (Треугольник Карпмана)
		+day('day-3','Тема 3: Психовампиризм','Манипуляции. Газлайтинг. Абьюзинг','Принципы психологической борьбы. Основы амортизации конфликтов','Формирование вредных привычек','Саботаж. Прокрастинация. Депрессия')
		+day('day-4','Тема 4: Психохирургия','Психотравмы. Страхи. Фобии','Вторичные выгоды','Основы психосоматики','Психосоматика заболеваний','Биологические законы заболеваний','Система конденсированного опыта травмы','Система отправной точки формирования психосоматических заболеваний','Технология работы с психосоматикой','Метафизика','Новая германская медицина')
		+day('day-5','Тема 5: Гештальт-терапия','Основы гештальт-терапии','Теория поля в гештальт-терапии','Кризис и травма','Психодиагностика','Гештальт-консультирование')
		+day('day-6','Тема 6: Системно-полевая терапия','Системно-организационное консультирование','Системные расстановки по Берту Хеллингеру','Характеристика «живых» систем','Паттерны','Интервенции','Системные динамики родовых систем','Поиск системного источника проблемы','Системный контракт (ментальный контракт)','Связь между преступниками и жертвами','Работа с полем','Закрытие травм полевых процессов','Супервизии')
		+day('day-7','Тема 7: НЛП – нейролингвистическое программирование. Регрессионный Гипноз. ДСТ','Ментальные карты. Конфликты интересов','Инструменты для трансформации','Базовые пресуппозиции','Стратегии коммуникаций','Раскодировка подсознания','Регрессионный гипноз','ДСТ – терапия диссоциированного состояния','Работа с сопротивлением и убеждениями клиентов','Работа по нейтрализации внутренних конфликтов','Разрыв шаблонов и паттернов','Работа с идентичностью','Работа с паттерном проблематики','Ресурсность','Интеграция','Присоединение')
		.day.day-8
			h4.day-title Тема 8: Технология достижения целей
			ul.day-list
				li Акмеология
				li Управление реальностью
				li 5 этапов достижения вершины мастерства «АКМЕ»
				li Технология достижения быстрых результатов
				li АКМЕОЛОГИЧЕСКАЯ ИГРА «КНИГА ГЕРОЯ»
				li Трансформационные игры
				li Создание собственной трансформационной игры
				li Написание  программы собственного тренинга
				li Самопозиционирование
				li Системное консультирование
				li Продажа своих услуг в рамках инфобизнеса:
				ul.day-sublist
					li целевая аудитория
					li стратегия продаж
					li мастер классы
					li контент план
					li продажи на большие чеки
					li продвижение личного бренда