section#results
	.container
		+gt('','Результаты от прохождения курса')
		.results-item
			ol.results-item-list
				li
					span Возможность полностью переосмыслить себя как личность и переоценить свой жизненный опыт
				li
					span Вы смените мешающую двигаться вперёд и добиваться целей идентичность и обретёте новые, эффективные качества личности, которые продвинут Вас в достижении собственного успеха и успеха Ваших клиентов
				li
					span Получите новую специальность, которая поможет Вам работать с людьми быстро, эффективно, получая за это хорошие деньги
				li
					span Уже на стадии обучения Вы сможете удвоить свой доход за счёт умения молниеносно определять суть любой проблемы клиентов и при помощи инновационных методик разрешать их
				li
					span Сможете работать с проблематикой человека на уровне исцеления первичной клетки ДНК, а не только работая с личностью
				li
					span Освоите профессию гештальт-терапевта, системного расстановщика, НЛП-практика, специалиста в области МАК (метафорических ассоциативных карт), научитесь через методику метафизики исцелять заболевания, душевные травмы, страхи, самосаботаж, депрессии и т.д.
				li
					span Получите диплом о профессиональной переподготовке по направлению «Психология» и сможете уверенно строить карьеру в этой сфере
				li
					span Новички смогут начать консультировать и зарабатывать от 50 тысяч рублей в месяц онлайн
				li
					span Опытные консультанты смогут масштабировать свою частную практику за счёт авангардных инструментов Новой системной психологии и получат возможность зарабатывать от 150 тысяч рублей в месяц
		+gt('general-title-results','Образец диплома, который Вы получите по завершению обучения')
		.diploma
			.row
				each n in [1,2,3,4]
					.col-md-3.col-sm-3.col-xs-6
						.diploma-example
							a.diploma-link(href="../img/certs/diploma-"+n+".jpg" data-fancybox="diploma")
								img(src="../img/certs/diploma-"+n+".min.jpg", alt="Образец диплома").diploma-img
		+b('','#prices','Записаться')