section#prices
	.container
		h3.prices-title Стоимость обучения:
			br
			span 120 000р.
		+b('button-prices',price_link,'Записаться','_blank')
		.prepayment
			h4.prepayment-title Акция!!!
			p.prepayment-text Платите 10 000р., бонусом получаете 
				span#prepayment-bonus 10 000р. 
				br
				| На счет зачисляется 
				span#prepayment-credited 20 000р.
			+b('',prep_link,'Оплатить 10 000р.','_blank')